 <h1>New Application</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for adding new applications</p>
     <ul>
       <li>Make sure you haven't already added the Application</li>
     </ul>
   </div>
   <div class="col-md-8">
    <%= render partial: 'form', locals: { application: @application } %>
   </div>
 </div>
